  <nav class="navbar navbar-expand-md bg-dark-subtle fixed-top" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#hero-target"><i class="bi bi-house-door-fill"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapse"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-collapse">
        <div class="navbar-nav">
          <a href="#mission-target" class="nav-link"> Mission </a>
          <a href="#skills-target" class="nav-link"> Skills </a>
          <a href="#showcase-target" class="nav-link"> Projects </a>
          <a href="#contact-target" class="nav-link"> Contact </a>
        </div>
      </div>
  </nav>