@import "tailwindcss";

@font-face {
    font-family: "OptiStevas";
    src: url("../assets/fonts/OPTIStevas-Light.otf") format("opentype");
}

:root {
    --background-color: #0a0a0a;
    --primary-color: #101010;
    --secondary-color: #222222;
    --text-color: #e0e0e0;
    --highlight-color: #61afef;
    --shadow-color: rgba(0, 0, 0, 0.7);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

main {
}

.tape {
    /*border: 4px solid black;
  background-color: rgb(27, 27, 27);
  color: wheat;
  */
    padding: 0; /* Removed padding */
}

.display-container,
.vhs-stack {
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.skills {
    padding: 0; /* Removed padding */
    margin: 0; /* Removed margin */
    box-shadow: 0 5px 15px var(--shadow-color);
}

.skill {
    padding: 0;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: var(--highlight-color);
    padding: 0; /* Removed padding */
    margin: 0; /* Removed margin */
}

.hero-img {
    border-radius: 0;
    box-shadow: 0 5px 15px var(--shadow-color);
    border: 2px solid var(--secondary-color);
}

.hero-name {
    font-family: "OptiStevas";
}

.hero-container {
    height: 25vw;
    align-items: center;
}

.vhs-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

.vhs-stack .mobile-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    rotate: 90deg;
}
.tape {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    position: relative;
    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;
    cursor: pointer;
    box-shadow:
        0 4px 0 #000,
        0 8px 15px rgba(0, 0, 0, 0.5);
}
.tape:nth-child(odd) {
    transform: rotate(-2deg);
}
.tape:nth-child(even) {
    transform: rotate(2deg);
}
.tape:hover {
    transform: translateY(-5px) scale(1.05) rotate(0deg);
    box-shadow:
        0 10px 0 #000,
        0 15px 25px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.display-vhs {
    background-color: black;
    width: 100%;
    height: 100%;
}

.content-section {
    position: relative;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 10px 25px var(--shadow-color);
}

h2 {
    margin: 2rem; /* Creates the gap to see the line */
}
